/*==============Visual Styling============*/
body {
    background-color: #1B234C;
    margin: auto;
    font-family: Antic Slab;
    color: #ffffff;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: Gaegu;
    color: #587985;
}

h1 {
    margin: 0px 0px 25px 0px;
    font-size: 200px;
}

h2 {
    margin: 25px 0px 25px 0px;
    font-size: 100px;
}

nav img, footer img {
    width: 20%;
    margin: 10px 0px 10px 0px;
}

/*==============Animations============*/
/*set up the inital pic formatting*/
#terra {
    padding: 0px;
    margin: auto;
    width: calc(1152px / 3);
    height: 380px;
    background: url(images/terra/spritesheet.png);
}
#terra2 {
    padding: 0px;
    margin: auto;
    width: calc(1152px / 3);
    height: 380px;
    background: url(images/terra/spritesheet2.png);
}
#terra3 {
    padding: 0px;
    margin: auto;
    width: calc(1152px / 3);
    height: 380px;
    background: url(images/terra/spritesheet3.png);
}   
#terra4 {
    padding: 0px;
    margin: auto;
    width: calc(1152px / 3);
    height: 380px;
    background: url(images/terra/spritesheet4.png);
}   
#terra5 {
    padding: 0px;
    margin: auto;
    width: calc(1152px / 3);
    height: 380px;
    background: url(images/terra/spritesheet5.png);
}   
#terra6 {
    padding: 0px;
    margin: auto;
    width: calc(1152px / 3);
    height: 380px;
    background: url(images/terra/spritesheet6.png);
}               
.idle {
    animation-name: idle;
    animation-duration: 2s, .5s, 2s;
    animation-timing-function: steps(3, end);
    animation-iteration-count: infinite;
}

@keyframes idle
{
    from {
        background-position: 0;
    }
    to {
        background-position: -1152px;
    }
}

.walk {
    animation-name: walk;
    animation-duration: .9s, .4s, .9s, .4s;
    animation-timing-function: steps(4, end);
    animation-iteration-count: infinite;
}

@keyframes walk
{
    from {
        background-position: -1152px;
    }
    to {
        background-position: -2688px;
    }
}

.warp {
    animation-name: warp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes warp {
    0% {transform: skew(0deg, 0deg);}
    25% {transform: skew(45deg, 45deg);}
    50% {transform: skew(0deg, 0deg);}
    75% {transform: skew(-45deg, -45deg); }
    100 {transform: skew(0deg, 0deg); }
}

.laugh {
    animation-name: laugh;
    animation-duration: 2s, .5s, 2s,.5s;
    animation-timing-function: steps(4, end);
    animation-iteration-count: infinite;
}

@keyframes laugh
{
    from {
        background-position: -2688px;
    }
    to {
        background-position: -4224px;
    }
}